#contacts {
    background-color: black;
    padding: 0 auto;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
}
#contacts .contact {
    flex-direction: column;
    margin: 0 auto;
}
#contacts .contact-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
#contacts .cd {
    width: 100%;
    border-bottom: solid 2px white ;

}
#contacts .contact-details {
    margin: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 30%;
}
#contacts .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#contacts .contact-logo {
    text-align: center;
}
#contacts .contact-logo img{
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    height: 50%;
    /* resize: horizontal vertical; */
    
}
#contacts .cd {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#contacts .contact-details1{
    width: 20%;
}
#contacts .contact-details2{
    width: 60%;
}
#contacts .contact-details3{
    width: 20%;
    
}

#contacts .contact-details p {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#footers{
    background-color: black;
}
#footers p{
    color: white;
    font-size: 12px;
}
