@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700%display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none; 
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

/* Hero Section */
#hero {
    background-image: url('/static/hero.jpeg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}
#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #c81b1b;
    background-color: transparent;
    border: 2px solid #c81b1b;
    border-radius: 0.5cm;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#hero .cta:hover {
    color: white;
    background-color: #c81b1b;
}